<%- include("includes/base.ejs") %>
    <link rel="stylesheet" href="/css/404.css">
  </head>
<%- include("includes/header.ejs") %>
  <main class="main">
    <h1>404</h1>
  </main>
<%- include("includes/end.ejs") %>
 
