.container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 10rem;
    background-color: var(--color_primary);
}
.active{
    padding: 4px;
    border-radius: 50%;
    background-color: green;
}